@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Default scrollbar styles */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground)); /* Color of the thumb */
  border-radius: 3px; /* Rounded corners of the thumb */
}

/* Media query for wide screens */
@media screen and (min-width: 768px) {
  /* Adjust scrollbar width and thumb size for wide screens */
  ::-webkit-scrollbar {
    width: 3px; /* Narrower scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground)); /* Lighter thumb color */
  }
}

.glitch-text {
  animation: glitch 2s ease infinite 2s alternate-reverse;
}

@keyframes glitch {
  0% {
    text-shadow:
      15px 0px 0 hsl(var(--muted-foreground)),
      -12px 0px 0 hsl(var(--secondary));
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow:
      -15px 0px 0 hsl(var(--muted-foreground)),
      12px 0px 0 hsl(var(--secondary));
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

.glitch__layers {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.glitch__layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../assets/images/portfolio-noir-img.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.glitch__layer:nth-child(1) {
  transform: translateX(5%);
  animation: glitch-anim-flash 1s ease infinite 2s alternate-reverse;
}
.glitch__layer:nth-child(2) {
  transform: translateX(-8%);
  animation: glitch-anim-flash 1s ease infinite 2s alternate-reverse;
}

@keyframes glitch-anim-flash {
  0% {
    opacity: 0.2;
  }
  30%,
  100% {
    opacity: 0;
  }
}
